.tlt-assetInfo {
    display: flex;
    font-weight: 700;
    font-size: 2.1rem;
}

.headerInfoAsset {
    font-weight: 700;
    font-size: 1.5rem;
    color: #007840;
}

.camp-obs-mov {
    font-size: 18px;
    bottom: 0;
    color: red;
    position: relative;
}

.cmp-obg {
    color: red;
    width: auto;
}

.lb-info {
    text-align: left;
    padding: 0.5em 6.5em 0.5em 0;
    font-weight: 700;
    font-size: 26px;
}

.labelofLabel {
    width: 270px;
    display: inline;
    font-size: 1.2rem;
}

.title-page-all-sub {
    font-size: 1.5rem;
    padding: 1px;
    font-weight: 700;
    color: #007840;
}

.attrAsset {
    /* width: 50%; */
    padding: 0.1rem;
    margin-bottom: 1rem;
    background: #f8f9fc;
    border: 1px solid #9c9c9c;
    display: inline-flex;
    float: right;
    font-size: 1.2rem;
    font-weight: normal;
}

.mn-cnt-mov {
    margin: 2rem;
    font-size: 2rem;
    margin-top: 6rem;
}

label {
    display: contents;
}

.space-mov-add {
    margin-top: 35px;
}

.infoInp-select {
    width: 100%;
    padding: 0.1em;
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
    float: right;
    font-weight: 400;
    font-size: 1.2rem;
}

.null-input {
    border: 1px solid #ccc; /* Add desired border styling */
    /* Add any other desired styling */
}

.btn-cleanfilter-movAsset {
    background-color: #6c757d;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    border-radius: 4px;
    color: white;
    width: 100%;
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
}

.btn-adicionar-movAsset {
    background-color: #00a762;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    border-radius: 4px;
    color: white;
    /* float: right; */
    width: 100%;
}

.obs-mov-e {
    border: 1px solid #9c9c9c;
    /* margin-left: 10px; */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 33px;
    padding: 1px;
    margin-left: 38px;
    float: right;
    resize: none;
    font-size: 1.2rem;
    font-weight: normal;
}

.lgText-assetInfo {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

input {
    font-weight: 400;
}

.form-calendar-asset {
    /* width: 93%; */
    padding: 0.1em;
    margin-bottom: 1rem;
    border: 1px solid #9c9c9c;
    float: right;
    font-size: 1.2rem;
}

.sidebar-divider {
    border-bottom: 4px solid #006a3c;
    margin: 1rem;
    border: 0;
    opacity: 0.25;
}
