.asset-info {
    display: flex;
    margin-top: 5rem;
}

.containerr {
    display: grid;
}

.tlt-assetInfo {
    display: flex;
    font-weight: 700;
}

.attrAsset-informat {
    display: inline-table;
    font-size: 1.5rem;
    right: 0;
    position: absolute;
    margin: 4px;
}

.lb-infoAsset-informat {
    width: auto;
    font-size: 1.5rem;
}

.lb-infoAsset2-informat {
    width: auto;
}

.sub-div-info {
    margin-left: 1rem;
}
