.asset-info {
    display: flex;
    margin-top: 5rem;
}

.containerr {
    display: grid;
}

.tlt-assetInfo {
    display: flex;
    font-weight: 700;
}

.attrAsset-informat {
    display: inline-table;
    font-size: 1.2rem;
    padding-left: 14px;
    position: absolute;
    margin: 8px;
    font-weight: 400;
}

.lb-infoAsset-informat {
    width: auto;
    font-size: 1.5rem;
}

.lb-infoAsset2-informat {
    width: auto;
    font-weight: 700;
    font-size: 1.2rem;
}

.sub-div-info {
    margin-left: 1rem;
}

.headerInfoAsset {
    font-weight: 700;
}

.sidebar-divider {
    border-bottom: 4px solid #006a3c;
    margin-right: 1rem;
}
