.camp-obs {
    font-size: 16px;
    bottom: 0;
    color: red;
    position: relative;
}

.lb-info {
    text-align: left;
    padding: 0.5em 6.5em 0.5em 0;
    font-weight: 700;
    font-size: 26px;
}

.labelofLabel {
    width: 270px;
    display: inline;
}

.infoInp-select {
    width: 100%;
    padding: 0.1em;
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
    float: right;
    font-weight: 400;
}

.btn-cleanfilter-assett {
    background-color: #6c757d;
    padding: 0.5rem 0.75rem;
    font-size: 18px;
    border-radius: 4px;
    color: white;
    overflow: hidden;
    width: auto;
    float: right;
    margin-left: 5px;
}

.btn-adicionar-assetFormm {
    float: right;
    background-color: #00a762;
    padding: 0.5rem 0.75rem;
    font-size: 18px;
    border-radius: 4px;
    color: white;
    overflow: hidden;
}

.btn-cleanfilter-assett {
    background-color: #6c757d;
    padding: 0.5rem 0.75rem;
    font-size: 24px;
    border-radius: 4px;
    color: white;
    width: auto;
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
}

.btn-adicionar-assetFormm {
    background-color: #00a762;
    padding: 0.5rem 0.75rem;
    font-size: 24px;
    border-radius: 4px;
    color: white;
    float: left;
}
.infoInp {
    /* width: 96%; */
    padding: 0.1em;
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
    float: right;
}

.obs-mov-ee {
    border: 1px solid #9c9c9c;
    /* margin-left: 10px; */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 1px;
    margin-left: 48px;
    float: right;
    resize: none;
}

.space-mov-add {
    margin-top: 35px;
}

.form-calendar-asset {
    /* width: 93%; */
    padding: 0.1em;
    margin-bottom: 1rem;
    border: 1px solid #9c9c9c;
    float: right;
}

.mn-cnt-reg {
    margin: 2rem;
    font-size: 2rem;
    margin-top: 6rem;
}

.tlt-assetInfo {
    display: flex;
    font-weight: 700;
    font-size: 36px;
}

.lgText-assetInfo {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
